sign.lexyalgo.com {
  encode zstd gzip

  handle_path /api/* {
    reverse_proxy lexysign-server:8080
  }

  reverse_proxy lexysign-client:3000
}

sign-staging.lexyalgo.com {
  encode zstd gzip

  handle_path /api/* {
    reverse_proxy lexysign-staging-server:8080
  }

  reverse_proxy lexysign-staging-client:3000
}

lexyalgo.com, www.lexyalgo.com {
  encode zstd gzip
  reverse_proxy lexyalgo-site:3000
}

staging.lexyalgo.com {
  encode zstd gzip
  reverse_proxy lexyalgo-site-staging:3000
}

filing-staging.esq2u.com {
  encode zstd gzip

  handle /api/auth* {
    reverse_proxy lexy-staging-web:3000
  }

  handle_path /api/* {
    reverse_proxy lexy-staging-api:8000
  }

  reverse_proxy lexy-staging-web:3000
}

sign.peacockesq.com {
  encode zstd gzip

  handle_path /api/* {
    reverse_proxy opensign-test-server:8080
  }

  reverse_proxy opensign-test-client:3000
}

doc-v2.lexyalgo.com, staging-doc.lexyalgo.com, doc-v2.37.27.49.209.sslip.io {
  encode zstd gzip
  reverse_proxy docassemble-lexy-v2:80 {
    header_up Host {host}
    header_up X-Real-IP {remote_host}
    header_up X-Forwarded-For {remote_host}
    header_up X-Forwarded-Proto https
    header_up X-Forwarded-Ssl on
    header_up X-Forwarded-Port 443
  }
}

uts-api.peacockesq.com {
  encode zstd gzip
  reverse_proxy uts-ingestion-api:8788
}
